<!DOCTYPE html>
<html>
  <head>
    <title>UserSys</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'icon.png' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" crossorigin="anonymous">
  </head>
  <body>
    <div class="row justify-content-center">
      <div class="col-md-5">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.type }} text-center fw-bold">
                <p>{{ message.text }}</p>
            </div>
          {% endfor %}
        {% endif %}

        <ul class="nav bg-secondary">
          <li class="nav-item">
            <a class="nav-link link-light" href="/">
              <i class="fa-solid fa-house"></i>
              HOME
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="/user/users">
              <i class="fa-solid fa-users"></i>
              USERS
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="/contact/contacts">
              <i class="fa-solid fa-address-book"></i>
              CONTACTS
            </a>
          </li>
          {% if current_user %}
            <li class="nav-item">
              <a class="nav-link link-light" href="/user/my_profile">
                <i class="fa-solid fa-user"></i>
                MY-PROFILE
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-light" href="/signout">
                <i class="fa-solid fa-right-from-bracket"></i>
                SIGN-OUT
              </a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link link-light" href="/signin">
                <i class="fa-solid fa-right-to-bracket"></i>
                SIGN-IN
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-light" href="/signup">
                <i class="fa-solid fa-user-plus"></i>
                SIGN-UP
              </a>
            </li>
          {% endif %}
        </ul>

        <div class="container mb-4">
          {% block content %} {% endblock %}
        </div>

        {% bootstrap_javascript %}
      </div>
    </div>
  </body>
</html>
